p {
	font-size: 	16px;
font-family: calibri, sans-serif;
}

body {
background: #2bd598;
}


ul {
font-family: calibri, sans-serif;
}

table {
font-family: calibri, sans-serif;
background: #2692bb;
max-width: 90%;
width: 	450px;
border: 3px solid black;
}

th {
text-align: left;
background: #5f4a8f;
}

th, td {
border:  1px solid black;
}

a {
text-decoration: underline;
color: #2692bb;
}

a:vistied {
text-decoration: underline;
color: #ac13a1;
}

a:hover {
text-decoration: none;
color: black;
}

#header img {
width: 100%;
}

#header {
background: #d6f5d6;
width: 90%;
max-width: 925px;
position: relative;
margin: auto;
padding: 10px;
margin-bottom: 20px;
}

#nav li {
display: inline;
padding-right: 30px;
}

#nav ul {
text-align: center;
font-family: calibri;
}

#nav {
background: #d6f5d6;
width: 90%;
max-width: 925px;
position: relative;
margin: auto;
padding: 10px;
margin-bottom: 20px;
}

#section {
background: #d6f5d6;
width: 90%;
max-width: 925px;
position: relative;
margin: auto;
padding: 10px;
margin-bottom: 20px;
}

#footer {
background: #d6f5d6;
width: 90%;
max-width: 925px;
position: relative;
margin: auto;
padding: 10px;

}

.spacing {
padding: 10px;
margin: 20px;
}

.sidebar {
float: right;
width: 30%;
height: auto;
border: 1px solid black;
}

.sidebar-bottom {
display: none;
}

@media screen and (max-width: 800px) {

.sidebar {
display: none;
}

.sidebar-bottom {
display: block;
position: relative;
width: 90%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
border: 1px solid white;
background: white;
}
}